@model MVCHomeBanking.Models.Movement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.originAccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.originAccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destinationAccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destinationAccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.movementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
